---
const imgs = [
    { src: '/Images/arbitro1.jpg', text: 'Arbitro 1', href: 'arb1.html' },
    { src: '/Images/arbitro2.png', text: 'Arbitro 2', href: 'arb2.html' },
    { src: '/Images/arbitro3.png', text: 'Arbitro 3', href: 'arb3.html' },
];
---

<div class="flex justify-center items-center w-full h-auto mt-[20vh]">
    {imgs.map((img, index) => (
        <div class="flex flex-col items-center mx-[2vw]">
            <img
                src={img.src}
                alt={img.text}
                class="w-[30vw] max-w-[380px] max-h-[310px] object-contain rounded-[0.625em] p-[0.3em] box-border"
            />
            <button
                class="mt-[1vh] w-[18vw] max-w-[240px] h-[7vh] max-h-[55px] border-none rounded-[1.25em] text-white bg-[#065903] cursor-pointer text-[1.1rem] hover:bg-[#FFA726] transition-colors duration-200"
                onclick={`location.href='${img.href}'`}
            >
                {img.text}
            </button>
        </div>
    ))}
</div>