<section class="rounded-lg pt-35 pb-15 text-center text-white">
    <h2 class="text-[#fbc02d] font-bold text-center mb-10 text-[1.5rem]">CLASIFICACIÓN</h2>
    <table class="rounded-lg w-[60%] mx-auto">
        <thead>
            <tr>
                <td>Liga Tibuyana</td>
            </tr>
            <tr>
                <th></th>
                <th>PJ</th>
                <th>PG</th>
                <th>PE</th>
                <th>PP</th>
                <th>GF</th>
                <th>GC</th>
                <th>PTS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Grupo 1</td><td>7</td><td>6</td><td>0</td><td>1</td><td>18</td><td>5</td><td>18</td>
            </tr>
            <tr>
                <td>Grupo 2</td><td>7</td><td>5</td><td>1</td><td>1</td><td>17</td><td>7</td><td>16</td>
            </tr>
            <tr>
                <td>Grupo 3</td><td>7</td><td>4</td><td>2</td><td>1</td><td>15</td><td>9</td><td>14</td>
            </tr>
            <tr>
                <td>Grupo 4</td><td>7</td><td>3</td><td>3</td><td>1</td><td>12</td><td>8</td><td>12</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="rounded-lg pb-15 text-center text-white">
    <h2 class="text-[#fbc02d] font-bold text-center mb-10 text-[1.5rem]">GOLEADORES</h2>
    <table class="rounded-lg w-[60%] mx-auto">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Goles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jugador 1</td><td>12</td>
            </tr>
            <tr>
                <td>Jugador 2</td><td>9</td>
            </tr>
            <tr>
                <td>Jugador 3</td><td>8</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="rounded-lg pb-15 text-center text-white">
    <h2 class="text-[#fbc02d] font-bold text-center mb-15 text-[1.5rem]">VALLA MENOS VENCIDA</h2>
    <table class="rounded-lg w-[60%] mx-auto">
        <thead>
            <tr>
                <th>Equipo</th>
                <th>GC</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Equipo 1</td><td>5</td>
            </tr>
            <tr>
                <td>Equipo 2</td><td>7</td>
            </tr>
            <tr>
                <td>Equipo 3</td><td>8</td>
            </tr>
        </tbody>
    </table>
</section>

<style>
    
table {
    text-align: center;
}
table th, table td {
    border: 1px solid #fff;
    padding: 0.625rem;
}

table thead th {
    background-color: #006600;
    color: #fff;
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

button.back-button {
    display: block;
    margin: 0 auto;
    background-color: #ff3300;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}
</style>