<div class="w-200 container mx-auto pt-34">
    <!-- Título -->
    <div class="text-white text-2xl text-center ">
      <p>VIERNES 23 NOVIEMBRE <br> 5:00 PM EN VIVO</p>
    </div>
  
    <!-- Contenedor de cajas -->
    <div class="grid grid-cols-[auto,400px,auto] grid-rows-3 gap-0">
      <!-- Jugador 1 -->
      <div class="row-start-1 row-end-4 flex  justify-end items-center">
        <img src="/Images/image 11 (1).png" alt="Jugador Equipo A" class="w-40">
      </div>
  
      <!-- Títulos y lugar -->
      <div class="col-start-2 col-end-3 row-start-1 row-end-3 flex flex-col items-center">
        <p class="text-white text-2xl text-center">
          kids league A <span class="text-yellow-300 text-6xl font-bold">VS</span> kids league B
        </p>
        <br>
        <p class="text-white text-2xl text-center">
          lugar: CARRERA 23 *12 <br>LA ESPERANZA
        </p>
      </div>
  
      <!-- Balón -->
      <div class="col-start-2 col-end-3 row-start-3 row-end-4 flex justify-center items-center">
        <img src="/Images/WhatsApp_Image_2024-11-05_at_9.00.37_AM-removebg-preview.svg" alt="Balón" class="w-20">
      </div>
  
      <!-- Jugador 2 -->
      <div class="col-start-3 col-end-4 row-start-1 row-end-4 flex items-center">
        <img src="/Images/image.png" alt="Jugador Equipo B" class="w-36">
      </div>
    </div>
  
    <!-- Botón de próximos eventos -->
    <button
  class="absolute left-5 top-[70vh] bg-[#ff5722] text-white border-2 border-white px-8 py-4 rounded-full cursor-pointer text-lg font-bold shadow-lg hover:bg-[#ff9800] hover:text-black hover:border-[#ff5722] hover:-translate-y-1 hover:shadow-xl transition-all duration-300"
  onclick="location.href='/eventsfuture'"
>
  PRÓXIMOS EVENTOS
</button>
    <div class="absolute top-10 left-10 mt-8 flex justify-center">
        <img src="/Images/KIDSLEAGUE.png" alt="Logo" class="w-35">
      </div>
    <!-- Fechas -->
    <div class="absolute top-10 right-10 mt-8 flex justify-center">
      <img src="/Images/image 12.png" alt="Fechas" class="w-48">
    </div>
  </div>