<footer class="flex justify-between items-center px-5 mt-10">
    <!-- Logo -->
    <img class="w-[7.25rem] hover:opacity-80 transition-opacity duration-300" src="/Images/Logo.png" alt="Logo Kids League">

    <!-- Redes Sociales -->
    <div class="bg-[#054D06] py-2 px-4 rounded-[0.625rem] flex gap-[0.938rem]">
        <!-- WhatsApp -->
        <a href="#" class="inline-block transform transition-transform duration-300 hover:scale-110">
            <img src="/Images/whatsapp.png" alt="WhatsApp">
        </a>

        <!-- Facebook -->
        <a href="#" class="inline-block transform transition-transform duration-300 hover:scale-110">
            <img src="/Images/facebook.png" alt="Facebook">
        </a>

        <!-- TikTok -->
        <a href="#" class="inline-block transform transition-transform duration-300 hover:scale-110">
            <img src="/Images/tiktok.png" alt="TikTok">
        </a>
    </div>
</footer>