<footer class="avsolute bottom-0 sticky flex justify-between items-center px-5 mt-10 z-2000">
    <!-- Logo -->
    <img class="w-[6.25rem] hover:opacity-80 transition-opacity duration-300" src="/Images/Logo.png" alt="Logo Kids League">

    <!-- Redes Sociales -->
    <div class="bg-[#054D06] py-2 px-4 rounded-[0.625rem] flex gap-[0.938rem]">
        <!-- WhatsApp -->
        <a href="#" class="inline-block transform transition-transform duration-300 hover:scale-110">
            <img src="/Images/whatsapp.png" alt="WhatsApp" class="filter brightness-0 invert hover:brightness-100 hover:invert-0 hover:sepia hover:brightness-90 hover:hue-rotate-[30deg] transition-all duration-300">
        </a>

        <!-- Facebook -->
        <a href="#" class="inline-block transform transition-transform duration-300 hover:scale-110">
            <img src="/Images/facebook.png" alt="Facebook" class="filter brightness-0 invert hover:brightness-100 hover:invert-0 hover:sepia hover:brightness-90 hover:hue-rotate-[30deg] transition-all duration-300">
        </a>

        <!-- TikTok -->
        <a href="#" class="inline-block transform transition-transform duration-300 hover:scale-110">
            <img src="/Images/tiktok.png" alt="TikTok" class="filter brightness-0 invert hover:brightness-100 hover:invert-0 hover:sepia hover:brightness-90 hover:hue-rotate-[30deg] transition-all duration-300">
        </a>
    </div>
</footer>