<section class="container-main">
    <div class="cajas">
      <div class="titulo-main">
        <h2>GANADORES DE LIGA</h2>
      </div>
      <div class="caja">
        <img
          class="imagen-caja"
          src="/Images/trofeo-ganadores.svg"
          alt="Trofeo"
        />
        <div class="texto-caja">
          <h3>ALIANZA MOTILONA</h3>
          <p>COPA NORTE</p>
        </div>
        <img
          class="imagen2-caja"
          src="/Images/boton-play-ganadores.svg"
          alt="Botón Play"
        />
      </div>
      <div class="caja">
        <img
          class="imagen-caja"
          src="/Images/trofeo2-ganadores.svg"
          alt="Trofeo"
        />
        <div class="texto-caja">
          <h3>ALIANZA MOTILONA</h3>
          <p>COPA NORTE</p>
        </div>
        <img
          class="imagen2-caja"
          src="/Images/boton-play-ganadores.svg"
          alt="Botón Play"
        />
      </div>
    </div>
    <div class="imagen-main">
      <img src="/Images/ganadores.PNG" alt="Imagen Ganadores" />
    </div>
  </section>