<section class="py-[50px] px-[20px] text-left relative ">
    <div class="flex items-center justify-between gap-5 max-w-[1200px] mx-auto relative mt-15">
        <!-- Texto con fondo -->
        <div class="bg-cover bg-center bg-no-repeat text-white p-5 w-1/2 max-w-[600px] h-[350px] relative overflow-hidden box-border"
             style="background-image: url('/Images/Rectangle\ 4656.png');">
            <p class="text-[22px] leading-[1.4] m-0 px-[50px] py-[2px]">
                Somos Kids League, una <br>
                organización dedicada a la <br>
                promoción y desarrollo del fútbol <br> 
                infantil. Nuestro equipo está <br>
                compuesto por apasionados del <br>
                deporte y educadores <br>
                experimentados que comparten la <br> 
                visión de fomentar valores y <br>
                habilidades en los niños y niñas a <br>
                través del juego.
            </p>
        </div>

        <!-- Líneas decorativas -->
        <div class="absolute top-0 bottom-0 left-0 right-0 flex justify-between items-center pointer-events-none">
            <img src="/Images/lineasSN.png" alt="Línea decorativa izquierda" 
                 class="absolute w-[120px] left-[12%] top-[61%] translate-x-[285%] translate-y-[-54%] h-[400px]">
            <img src="/Images/lineasSN.png" alt="Línea decorativa derecha" 
                 class="absolute w-[120px] right-[-7%] top-[39%] translate-x-[-425%] translate-y-[-49%] h-[400px]">
        </div>

        <!-- Imagen -->
        <div class="max-w-[45%]">
            <img src="/Images/niñosSN.png" alt="Imagen Sobre Nosotros" class="w-full rounded-[10px]">
        </div>
    </div>
</section>