<!-- <div class="relative w-full h-100 md:h-[90vh] flex items-center justify-center"> -->

    <!-- <img -->
        <!-- src="/Images/hero.svg" -->
        <!-- alt="Niño jugando fútbol" -->
        <!-- class="absolute z-20 w-[509px] h-[470.11px] left-[660px] top-[95.39px] hidden md:block" -->
    <!-- /> -->
<!--  -->
    <!-- <img -->
        <!-- src="/Images/Group 58.svg" -->
        <!-- alt="" -->
        <!-- class="absolute z-10 h-164 top-0 right-0 hidden md:block" -->
    <!-- /> -->
<!-- </div> -->