<div class="relative w-full h-[90vh] flex items-center justify-center">
    <!-- Imagen hero -->
    <img
        src="/Images/hero.svg"
        alt="Niño jugando fútbol"
        class="absolute z-20 w-[509px] h-[470.11px] left-[660px] top-[95.39px]"
    />

    <!-- Líneas naranjas -->
    <img
        src="/Images/Group 58.svg"
        alt=""
        class="absolute z-10  h-164 top-0 right-0"
    />

</div>