<section class="section-medallas">
    <div class="titulo-medallas">
      <img src="/Images/rectangle-orange-titulo-trofeo.svg" alt="" />
      <div class="titulo-centrado">MEDALLAS</div>
    </div>
    <div class="container-medallas">
      <img src="/Images/imagen-medallas.svg" alt="" />
      <img src="/Images/imagen-medallas.svg" alt="" />
      <img src="/Images/imagen-medallas.svg" alt="" />
      <img src="/Images/imagen-medallas.svg" alt="" />
    </div>
  </section>