---
// Define las propiedades del componente
const { title, description, imageUrl } = Astro.props;
---

<div class="bg-gray-800/50 rounded-xl overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 border border-gray-700/30">
  <!-- Imagen -->
  <div class="relative h-48 overflow-hidden">
    <a href="/Images/noticia.jpg"><img
      src={imageUrl || "/placeholder.svg"}
      alt={`Imagen: ${title}`}
      class="w-full h-full object-cover transition-transform duration-300 hover:scale-105"
    /></a>
    <div class="absolute inset-0 bg-gradient-to-t from-black/50 to-transparent"></div>
  </div>

  <!-- Contenido -->
  <div class="p-6">
    <!-- Título -->
    <h3 class="text-xl font-bold text-white mb-3">{title}</h3>

    <!-- Descripción -->
    <p class="text-gray-300 text-sm leading-relaxed" set:html={description}></p>

    
  </div>
</div>