---
const { title, description, imageUrl } = Astro.props;
---

<div class="border-4 border-[#ff5722] rounded-[20px] shadow-lg p-4 h-[400px] w-[300px] md:w-[626px] flex-none scroll-snap-align-start">
    <!-- Título -->
    <h3 class="text-[1.2em] my-[10px] font-bold">{title}</h3>

    <!-- Descripción -->
    <p class="text-[0.9em] text-white" set:html={description}></p>

    <!-- Imagen -->
    <img
        src={imageUrl}
        alt="Imagen noticia"
        class="w-full h-[195px] mt-4 object-cover rounded-[10px]"
    />
</div>