---
// src/components/SponsorTitles.astro
---

<section class="hidden md:grid md:grid-cols-5 md:items-center m-auto gap-2 py-5">
    <div class="text-white text-center text-[0.9rem] w-[8.75rem]">SOCIO ANFITRION</div>
    <div class="text-white text-center text-[0.9rem] w-[8.75rem]">SOCIO DEL ESTADIO</div>
    <div class="text-white text-center text-[0.9rem] w-[8.75rem]">SOCIO PRINCIPAL</div>
    <div class="text-white text-center text-[0.9rem] w-[8.75rem]">SOCIO PRINCIPAL</div>
    <div class="text-white text-center text-[0.9rem] w-[8.75rem]">SOCIO PRINCIPAL</div>
</section>