---
// src/components/SponsorLogos.astro
---

<div class="md:grid md:grid-cols-5 md:items-center m-auto gap-2 ">
    <img src="/Images/logo-movistar.svg" alt="Movistar Logo" class="w-[8.75rem]">
    <img src="/Images/nike.png" alt="Nike Logo" class="w-[8.75rem]">
    <img src="/Images/coca-cola-2021.svg" alt="Coca-Cola Logo" class="w-[8.75rem]">
    <img src="/Images/gatorade-logo.svg" alt="Gatorade Logo" class="w-[8.75rem]">
    <img src="/Images/adidas2 1.svg" alt="Adidas Logo" class="w-[8.75rem]">
  </div>