---
// src/components/SponsorSection.astro
---

<section class="flex items-center flex-col justify-center gap-5 py-5">
    <div class="w-36">
      <img src="/Images/bbva-2.svg" alt="BBVA Logo" class="w-full">
    </div>
    <div class="text-white text-xl">
      Patrocinador Principal
    </div>
  </section>