---
// src/pages/index.astro
import SponsorSection from "./SponsorSection.astro";
import SponsorLogos from "./SponsorLogos.astro";
import SponsorTitles from "./SponsorTitles.astro";
---

<main class="flex items-center flex-col justify-center mb-5">
  <!-- Sección de patrocinador principal -->
  <SponsorSection />

  <!-- Logos de socios -->
  <SponsorLogos />

  <!-- Títulos de socios -->
  <SponsorTitles />
</main>