---
// src/components/SponsorSection.astro
---

<section class="flex items-center flex-col justify-center gap-5 py-2">
  <div id="sponsor-logo" class=" flex justify-center items-center w-[15rem] md:[w-36]">
    <img src="/Images/bbva-2.svg" alt="BBVA Logo" class="w-full">
  </div>
</section>
