<section class="py-[50px] px-[20px] text-center mt-[5%]">
    <!-- Título -->
    <h2 class="text-[28px] text-white font-bold mb-[30px]">Equipo de Desarrollo</h2>

    <!-- Miembros del equipo -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 max-w-[1200px] mx-auto justify-items-center">
        <!-- Stiven Carvajal -->
        <div class="bg-black/50 items-center justify-items-center  rounded-[0.625rem] w-[90%] p-5 text-center transition-transform duration-300 hover:scale-105 hover:shadow-lg text-white border-3 border-[#FF4E12]">
            <img src="https://media.licdn.com/dms/image/v2/D4E03AQG_X-VjpsV3cg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1703866483850?e=1747267200&v=beta&t=sBsCi3ZpuyZH0tGrFW8bFO3bKpJq1EmHI4LtW7VWcK0" alt="Miembro del Equipo" class="w-[100px] h-[100px] rounded-full mb-[15px] object-cover shadow-md border-2 border-[#FF4E12]">
            <h3 class="text-[1.125rem] my-[0.625rem] text-[#FFD60A]">Stiven Carvajal</h3>
            <p class="text-[14px] text-white/80">Scrum</p>
        </div>

        <!-- Ayelmer Corzo -->
        <div class="bg-black/50 items-center justify-items-center  rounded-[0.625rem] w-[90%] p-5 text-center transition-transform duration-300 hover:scale-105 hover:shadow-lg text-white border-3 border-[#FF4E12]">
            <img src="https://media.licdn.com/dms/image/v2/D5603AQEOR_Nbe-J3YQ/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1706660512351?e=1747267200&v=beta&t=aQz1FHjsu1rG7Rm4T8F_I-0m5SoDpgZnIE0l9JNA0Mk" alt="Miembro del Equipo" class="w-[100px] h-[100px] rounded-full mb-[15px] object-cover shadow-md border-2 border-[#FF4E12]">
            <h3 class="text-[1.125rem] my-[0.625rem] text-[#FFD60A]">Ayelmer Corzo</h3>
            <p class="text-[14px] text-white/80">Backend</p>
        </div>

        <!-- Jhorman Castellanos -->
        <div class="bg-black/50 items-center justify-items-center  rounded-[0.625rem] w-[90%] p-5 text-center transition-transform duration-300 hover:scale-105 hover:shadow-lg text-white border-3 border-[#FF4E12]">
            <img src="https://media.licdn.com/dms/image/v2/D4E03AQHP1thu89JEPg/profile-displayphoto-shrink_800_800/B4EZVIsuF_G0Ac-/0/1740681437948?e=1747267200&v=beta&t=HukKa4k-u17sjurjpEgxtTSjPeOSetHI092Krt14J8s" alt="Miembro del Equipo" class="w-[100px] h-[100px] rounded-full mb-[15px] object-cover shadow-md border-2 border-[#FF4E12]">
            <h3 class="text-[1.125rem] my-[0.625rem] text-[#FFD60A]">Jhorman Castellanos</h3>
            <p class="text-[14px] text-white/80">Backend</p>
        </div>

        <!-- Nilson Carvajal -->
        <div class="bg-black/50 items-center justify-items-center  rounded-[0.625rem] w-[90%] p-5 text-center transition-transform duration-300 hover:scale-105 hover:shadow-lg text-white border-3 border-[#FF4E12]">
            <img src="/Images/nilson.jpeg" alt="Miembro del Equipo" class="w-[100px] h-[100px] rounded-full mb-[15px] object-cover shadow-md border-2 border-[#FF4E12]">
            <h3 class="text-[1.125rem] my-[0.625rem] text-[#FFD60A]">Nilson Carvajal</h3>
            <p class="text-[14px] text-white/80">Backend</p>
        </div>

        <!-- Stivenson Correa -->
        <div class="bg-black/50 items-center justify-items-center  rounded-[0.625rem] w-[90%] p-5 text-center transition-transform duration-300 hover:scale-105 hover:shadow-lg text-white border-3 border-[#FF4E12]">
            <img src="https://media.licdn.com/dms/image/v2/D4D35AQHaYLz-CNyqxQ/profile-framedphoto-shrink_800_800/B4DZVdKs6JG4Ao-/0/1741024841744?e=1742403600&v=beta&t=1adM-mRUGGt16nRu4NEE-gP1l1wmqj2wdjOvuLNP0Ng" alt="Miembro del Equipo" class="w-[100px] h-[100px] rounded-full mb-[15px] object-cover shadow-md border-2 border-[#FF4E12]">
            <h3 class="text-[1.125rem] my-[0.625rem] text-[#FFD60A]">Stivenson Correa</h3>
            <p class="text-[14px] text-white/80">Backend</p>
        </div>

        <!-- Erick Arias -->
        <div class="bg-black/50 items-center justify-items-center  rounded-[0.625rem] w-[90%] p-5 text-center transition-transform duration-300 hover:scale-105 hover:shadow-lg text-white border-3 border-[#FF4E12]">
            <img src="https://media.licdn.com/dms/image/v2/D4E03AQGBEAH2Y4i6Gg/profile-displayphoto-shrink_800_800/B4EZWLYzWTHUAg-/0/1741800290201?e=1747267200&v=beta&t=5UHTvz2usr5SXZPk1nuhstcUy03uSH7EI7MOdAK8iLc" alt="Miembro del Equipo" class="w-[100px] h-[100px] rounded-full mb-[15px] object-cover shadow-md border-2 border-[#FF4E12]">
            <h3 class="text-[1.125rem] my-[0.625rem] text-[#FFD60A]">Erick Arias</h3>
            <p class="text-[14px] text-white/80">Frontend</p>
        </div>

        <!-- Jeisson Perez -->
        <div class="bg-black/50 items-center justify-items-center  rounded-[0.625rem] w-[90%] p-5 text-center transition-transform duration-300 hover:scale-105 hover:shadow-lg text-white border-3 border-[#FF4E12]">
            <img src="https://media.licdn.com/dms/image/v2/D4D03AQFBHST_uLavzg/profile-displayphoto-shrink_800_800/B4DZVIoKzEHIAc-/0/1740680246293?e=1747267200&v=beta&t=rjFWdO0W6giZGOV59ROl8L_B6zzZ3i2ODMGQmrim9ZQ" alt="Miembro del Equipo" class="w-[100px] h-[100px] rounded-full mb-[15px] object-cover shadow-md border-2 border-[#FF4E12]">
            <h3 class="text-[1.125rem] my-[0.625rem] text-[#FFD60A]">Jeisson Perez</h3>
            <p class="text-[14px] text-white/80">Frontend</p>
        </div>

        <!-- Karen Cristancho -->
        <div class="bg-black/50 items-center justify-items-center  rounded-[0.625rem] w-[90%] p-5 text-center transition-transform duration-300 hover:scale-105 hover:shadow-lg text-white border-3 border-[#FFD60A]">
            <img src="https://media.licdn.com/dms/image/v2/D4D03AQFD1qy6MVg0Dg/profile-displayphoto-shrink_800_800/B4DZVssDwcG4Ak-/0/1741285244350?e=1747267200&v=beta&t=4qE8pAg2JBsKuvZ1k6E-av0TUP7APewKKr0UttzHFQo" alt="Miembro del Equipo" class="w-[100px] h-[100px] rounded-full mb-[15px] object-cover shadow-md border-2 border-[#FF4E12]">
            <h3 class="text-[1.125rem] my-[0.625rem] text-[#FFD60A]">Karen Cristancho</h3>
            <p class="text-[14px] text-white/80">Frontend</p>
        </div>

        <!-- Dayana Cristancho -->
        <div class="bg-black/50 items-center justify-items-center  rounded-[0.625rem] w-[90%] p-5 text-center transition-transform duration-300 hover:scale-105 hover:shadow-lg text-white border-3 border-[#FFD60A]">
            <img src="https://media.licdn.com/dms/image/v2/D4E03AQG14Erz2483vQ/profile-displayphoto-shrink_800_800/B4EZVnKd22HUAc-/0/1741192552226?e=1747267200&v=beta&t=ArtyOrGq-1lfNgaJdgHhEXmINpx2RCLAqD-LjofH60w" alt="Miembro del Equipo" class="w-[100px] h-[100px] rounded-full mb-[15px] object-cover shadow-md border-2 border-[#FF4E12]">
            <h3 class="text-[1.125rem] my-[0.625rem] text-[#FFD60A]">Elidallana Cristancho</h3>
            <p class="text-[14px] text-white/80">Frontend</p>
        </div>
    </div>
</section>