<section class="seccion-trofeos">
    <div class="titulo-trofeos">
      <img src="/Images/rectangle-orange-titulo-trofeo.svg" alt="" />
      <div class="titulo-centrado">TROFEOS</div>
    </div>
    <div class="trofeos">
      <div class="trofeo1">
        <img src="/Images/imagen-tofreo 1.svg" alt="" />
        <button>TROFEO 1</button>
      </div>
      <div class="trofeo2">
        <img src="/Images/trofeo2-ganadores.svg" alt="" />
        <button>TROFEO 2</button>
      </div>
      <div class="trofeo3">
        <img src="/Images/imagen-tofreo 3.svg" alt="" />
        <button>TROFEO 3</button>
      </div>
    </div>
  </section>