<section class="container-main">
    <div class="cajas">
      <div class="titulo-main">
        <h2>ULTIMOS GANADORES</h2>
      </div>
      <div class="caja">
        <img
          class="imagen-caja"
          src="/Images/CUCUTA FUTBOL CLUB.svg"
          alt="Trofeo"
        />
        <div class="texto-caja">
          <h3>ACADEMIA CUCUTA F. C</h3>
          <p>4-0 Ganadole a campo dos</p>
        </div>
        <img
          class="imagen2-caja"
          src="/Images/boton-play-ganadores.svg"
          alt="Botón Play"
        />
      </div>
      <div class="caja">
        <img class="imagen-caja" src="/Images/PAL NORTE.svg" alt="Trofeo" />
        <div class="texto-caja">
          <h3>ALIANZA MOTILONA</h3>
          <p>4-0 ganadole a ALIANZA MOTILONA</p>
        </div>
        <img
          class="imagen2-caja"
          src="/Images/boton-play-ganadores.svg"
          alt="Botón Play"
        />
      </div>
    </div>
    <div class="imagen-main">
      <img src="/Images/imagen-ganadores2.svg" alt="Imagen Ganadores" />
    </div>
  </section>