<section class="flex flex-col lg:flex-row justify-around w-full max-w-[1200px] mx-auto gap-8 pt-30 px-4">
    <div class="flex flex-col gap-10 justify-evenly">
      <div class="text-center lg:text-left">
        <h2 class="text-3xl text-white md:text-4xl font-bold tracking-wide">ULTIMOS GANADORES</h2>
      </div>
      <div class="flex items-center bg-black/20 border-2 border-[#ff6347]/50 rounded-lg p-6 md:p-10 w-full max-w-[40rem] h-auto md:h-[9.688rem] shadow-lg transition-transform hover:scale-[1.02]">
        <img
          class="w-12 h-12 md:w-[5.625rem] md:h-[5.625rem] rounded-full mr-4 md:mr-10"
          src="/Images/CUCUTA FUTBOL CLUB.svg"
          alt="Trofeo"
        />
        <div class="flex-1">
          <h2 class="text-[#FFD60A] font-bold text-xl md:text-[1.5rem] leading-tight">ACADEMIA CUCUTA F. C</h2>
          <p class="text-white text-base md:text-[1.5rem]">4-0 Ganadole a campo dos</p>
        </div>
        <img
          class="w-10 h-10 md:w-[5.625rem] md:h-[5.625rem] rounded-full ml-2"
          src="/Images/boton-play-ganadores.svg"
          alt="Botón Play"
        />
      </div>
      <div class="flex items-center bg-black/20 border-2 border-[#ff6347]/50 rounded-lg p-6 md:p-10 w-full max-w-[40rem] h-auto md:h-[9.688rem] shadow-lg transition-transform hover:scale-[1.02]">
        <img class="w-12 h-12 md:w-[5.625rem] md:h-[5.625rem] rounded-full mr-4 md:mr-10" src="/Images/PAL NORTE.svg" alt="Trofeo" />
        <div class="texto-caja">
          <h2 class="text-[#FFD60A] font-bold text-xl md:text-[1.5rem] leading-tight">ALIANZA MOTILONA</h2>
          <p class="text-white text-base md:text-[1.5rem]">4-0 ganadole a ALIANZA MOTILONA</p>
        </div>
        <img
          class="w-10 h-10 md:w-[5.625rem] md:h-[5.625rem] rounded-full ml-2"
          src="/Images/boton-play-ganadores.svg"
          alt="Botón Play"
        />
      </div>
    </div>
    <div class="hidden sm:block">
      <img src="/Images/imagen-ganadores2.svg" alt="Imagen Ganadores" />
    </div>
  </section>